h1, a {
  text-align: center;
  font-size: 50px;
  font-family: Verdana;
  position: fixed;
}

#countdownTime {
  display: inline;
  font-size: 4vw;
  font-family: Verdana;
  text-align: center;
  border: 10px solid #EC00FF;
  border-radius: 20px;
  background-color: white;
  position: fixed;
  left: 100px;
}

.countdownContainer {
  display: inline;
  font-size: 2vw;
  font-family: Verdana;
  text-align: center;
  border: 6px solid #EC00FF;
  border-radius: 12px;
  background-color: white;
  position: fixed;
  left: 100px;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
