.row {
  display: flex;
}

.column {
  flex: 50%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #ABE9FF;
}

.content {
  margin: 20px;
  border: 2px solid black;
  border-radius: 10px;
  height: 100px;
  background-repeat: no-repeat;
  text-align: center;
  font-family: Arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: height 0.3s, margin 0.3s;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.content:hover {
  height: 130px;
  margin: 2px;
}

.blackjack {
  background-image: url("casino-bg.jpg");
  object-fit: cover;
  line-height: 100px;
}

.cookieclicker {
  background-image: url("cookiebanner.png");
  background-position: center;
  object-fit: contain;
  line-height: 100px;
}

.calculator {
  background-image: url("calculatorbanner.png");
  background-position: center;
  object-fit: contain;
  line-height: 100px;
}

.clickometer {
  background-image: url("clickbanner.png");
  background-position: center;
  object-fit: contain;
  line-height: 100px;
}
