.row {
  display: flex;
}

.column {
  flex: 50%;
}

body {
  font-family: Arial, sans-serif;
  text-align: center;
}

div {
  margin: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  font-family: Arial, sans-serif;
}
